<!doctype html>
<html class="no-js" lang="zxx">

    <%- include('component/head') -%>
<body> 
    <%- include('component/header') -%>
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <h4>Apply the job</h4>
                
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <div class="row">
    <div class="col-xl-12">
                    
        <div class="job_details_area">
            <div class="container">
                <div class="row">     
                    <%- include('component/apply_form') -%> 
                </div>
            </div>
        </div>
       
    </div>
   </div>
   <%- include('component/footer') -%>
   <%- include('component/include_files') -%>
</body>

</html>