<!doctype html>
<html class="no-js" lang="zxx">
    <%- include('component/head') -%>
<body>
   
    <%- include('component/header') -%>
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>4536+ Jobs Available</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
          <div class="row">
                    <!--- filter part -->
            <div class="col-lg-3">
              <div class="job_filter white-bg">
                  <div class="form_inner white-bg">
                        <h3>Filter</h3>
                        <form action="/jobs" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide" name ='category'>
                                            <option data-display="Category">Category</option>
                                            <% category.forEach( i => { %>
                                            <option value=" <%= i.title %>" > <%= i.title %> </option>
                                                <% }) %>
                                                            
                                        </select>
                                                            
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide" name ='job_type'>
                                            <option data-display="Job type">Job type</option>
                                            <option value="full time" >full time </option>
                                            <option value="part time">part time  </option>
                                        </select>
                                    </div>
                                </div>
                            <button  class="boxed-btn3 w-100" type="submit">submit</button>
                            </div>
                       </form>
                  </div>
              </div>
            </div>

            <div class="col-lg-9">
                <!-- Job component  -->
                <div class="job_lists m-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <% jobs.forEach(job=> { %>
                                <div class="single_jobs white-bg d-flex justify-content-between">

                                    <div class="jobs_left d-flex align-items-center">

                                        <div class="thumb">
                                            <img src="<%= job.image %>" alt="">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="/job_details/<%= job.id %>">
                                                                    <h4>
                                                                        <%= job.title %>
                                                                    </h4>
                                            </a>
                                            <div class="links_locat d-flex align-items-center">
                                                                    <div class="location">
                                                                        <p> <i class="fa fa-map-marker"></i>
                                                                            <%= job.location %>
                                                                        </p>
                                                                    </div>
                                                                    <div class="location">
                                                                        <p> <i class="fa fa-clock-o"></i>
                                                                            <%= job.job_type %>
                                                                        </p>
                                                                    </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="jobs_right">
                                        <div class="apply_now">

                                            <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                            <a href="/apply/<%=job.id %>"> <button class="boxed-btn3"type="button"> Apply Now </button></a>
                                                                        
                                        </div>
                                    
                                    </div>
                                </div>
                                <% }) %>
                            </div>

                        </div>

                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="pagination_wrap">
                                                    <ul>
                                                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                                        <li><a href="#"><span>01</span></a></li>
                                                        <li><a href="#"><span>02</span></a></li>
                                                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                        </div>
                </div>
                
            </div>

          </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

    <%- include('component/footer') -%> 
    <%- include('component/include_files') -%> 
</body>

</html>